*~
*.DS_Store*
*.pyc
ignore*/*
sqlite/autom4te.cache
checkout/*
build/*
msys*
darwin*
linux-*/
windows-i686*/
macosx-i686*/
xulrunner*/mozilla/.mozconfig*
xulrunner*/mozilla/compiled/
xulrunner*/mozilla/config/*.pyc
xulrunner*/mozilla/configure
xulrunner*/mozilla/js/src/configure
xulrunner*/mozilla/other-licenses/ply/ply/*.pyc
xulrunner*/mozilla/security/coreconf/Linux3.*.mk
xulrunner*/mozilla/security/manager/.nss.checkout
xulrunner*/mozilla/xpcom/idl-parser/*.pyc
*/build-log.txt
xulrunner*/mozilla/a.out
xulrunner*/mozilla/confdefs.h
xulrunner*/mozilla/config.cache
xulrunner*/mozilla/config.log
