# Autodetect text files
* text=auto

# Overrides

# Text files
*.txt text
*.c text
*.cpp text
*.h text
*.sh text

# Windows lib crap ugh
*.bat eol=crlf
*.def eol=crlf
*.exp eol=crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.vsprops eol=crlf
*.dsp eol=crlf
*.dsw eol=crlf
*.sln eol=crlf

# Binaries
*.a binary
*.dll binary
*.obj binary
*.svg binary

