.DS_Store
*.pyc
*confdefs.h
*config.cache
*config.log
*/autom4te.cache*
*/build-log.txt
*.sublime*
.cproject
.project
.settings
ignore*/
build
checkout
xulrunner*/mozilla-release
xulrunner*/mozilla/*
xulrunner*/xulrunner*.source.tar.bz2
xulrunner*/songbird/*
linux-i686*/*
linux-x86_64*/*
macosx-i686*/*
windows-i686*/*
