xulrunner*/mozilla-release
xulrunner*/mozilla/*
xulrunner*/xulrunner*.source.tar.bz2
xulrunner*/songbird/*
build/
linux-i686*/*
linux-x86_64*/*
*/autom4te.cache*
windows-i686*/*
macosx-i686*/*
*.DS_Store
