<html>
	<STYLE>
		dd{
			-moz-column-width: 0;
		}
	</STYLE>
		<li>
		<STYLE>
			li{	
				padding-bottom: 1000em;
			}
		</STYLE>
		CC</li>
		<li>
			<pre>
				<dd>
					<ul>
						<STYLE>
							ul{
								height: 0;	
							}
						</STYLE>
					</ul>
		<strike>
			<ol>handler</ol>
<figcaption>
			<li>
			uu

			nav

			label

		</strike>
<ul>
	<dd>
		<STYLE>
		dd{
			position: fixed;	
		}

		dd:last-child{
			width: 100;
		}
		</STYLE>
P</dd>
	<ul>
		<li></li>
	</ul>

		</p>
		</pre>
</ul>

</figcaption>
</li>
</html>